.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar-left img{
    width: auto;
}
.navbar-left{
    display: flex;
    justify-content: flex-start;
}
.navbar-right{
    display: flex;
    justify-content: flex-end;
    
}